[Client]

## This client-side feature allows you to join hosts that don't have BypassGenerationChecksum installed by spoofing your generation checksum to match the host's.
# Setting type: Boolean
# Default value: true
Enable checksum spoofing = true

[Host]

## This host-only feature allows players with mismatching generation checksums to join your lobbies (instead of kicking them).
# Setting type: Boolean
# Default value: true
Ignore mismatching checksums = true

