[Bots Open Containers]

## Bots automatically open containers they highlight
# Setting type: Boolean
# Default value: true
Enabled = false

[Bots Teleport]

## Bots teleport closer to players
# Setting type: Boolean
# Default value: true
Enabled = true

[Human Friendly Fire]

## Humans inflict friendly fire on each other
# Setting type: Boolean
# Default value: true
Enabled = true

[Improved Aim]

## Improves the bots' accuracy by 100%
# Setting type: Boolean
# Default value: false
Enabled = false

