[General]

## Set to true to enable normal set of hacking patterns
# Setting type: Boolean
# Default value: false
Normal Hacks = true

## Set to false to disable moving solution area
# Setting type: Boolean
# Default value: true
Moving Solution = true

