## Settings file was created by plugin Mccad.GearPartCustomization v1.3.1
## Plugin GUID: com.Mccad.GearPartCustomization

[Logging]

# Setting type: Boolean
# Default value: false
Verbose = false

