[Corpse Settings]

## Prevent melees from hitting corpses.
# Setting type: Boolean
# Default value: true
Disable Corpse Melee Hitbox = true

[Cull Settings]

## Prevents nearby or attacking enemies from culling.
## This fixes enemies not on screen failing to play footstep sounds or move when attacking.
# Setting type: Boolean
# Default value: true
Disable Culling Nearby Enemies = true

[Sync Settings]

## Amount of time the enemy position is smoothed over to match host position when they stop moving to attack/scream/etc.
# Setting type: Single
# Default value: 0.25
Sync Position Time = 0.25

[Wave Settings]

## Minimum amount of time in seconds before enemies become active after spawning.
# Setting type: Single
# Default value: 0
Minimum Wave Inactive Time = 0

## Maximum amount of time in seconds before enemies become active after spawning.
# Setting type: Single
# Default value: 6
Maximum Wave Inactive Time = 6

