## Settings file was created by plugin FogRepellerModifier v1.0.0
## Plugin GUID: INF.FogRepellerModifier

[Properties]

## Fog repeller range
# Setting type: Single
# Default value: 11
Range = 8

## Fog repeller duration in seconds
# Setting type: Single
# Default value: 70
Lifetime = 132

## Growth duration of the fog repelled area until its full range
# Setting type: Single
# Default value: 8
GrowDuration = 12

## Shrink duration of the fog repelled area until its fully gone
# Setting type: Single
# Default value: 10
ShrinkDuration = 6

## Density of the fog repelled area
# Setting type: Single
# Default value: -7
Density = -8

