## Settings file was created by plugin InformativeDoorIcons v1.2.4
## Plugin GUID: informativedooricons.HazardousMonkey

[Settings]

## For Security Doors, the bottom label is rewritten to display lockdowns, needed power, blood doors, and finally what zone it leads to.
# Setting type: Boolean
# Default value: true
- Extra door information (Not Retroactive) = true

## Rotates all door icons that are mostly upside-down doors to now be rightside-up. Also rotates left/right rotated doors to use the elevator as their center. This may or may not work well for all cases.
# Setting type: Boolean
# Default value: true
- Door Rotation Adjustment (Not Retroactive) = true

## Add green coloration to non-alarmed "free" Security Door map icons.
# Setting type: Boolean
# Default value: true
Change the color for non-alarm Security Doors = true

## If a door is locked via Keycard, the interior sprite of the door will now match the Keycard color until unlocked.
# Setting type: Boolean
# Default value: true
Security Doors match Keycard color = true

## If a Weak Door (a breackable doors) is locked, their sprite color reflects that.
# Setting type: Boolean
# Default value: true
Change locked Weak Door colors = true

## Color of a melee-locked Weak Door icon when closed. #rrggbb
# Setting type: String
# Default value: #FFFF00
MeleeClosedColor = #FFFF00

## Opacity of the melee-locked icon (closed state), 0.0-1.0.
# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
MeleeClosedAlpha = 0.8

## Color of a melee-locked Weak Door icon when open. #rrggbb
# Setting type: String
# Default value: #FFFF00
MeleeOpenColor = #FFFF00

## Opacity of the melee-locked icon (open state), 0.0-1.0.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
MeleeOpenAlpha = 0.1

## Color of a hackable Weak Door icon when closed. #rrggbb
# Setting type: String
# Default value: #00FFFF
HackClosedColor = #00FFFF

## Opacity of the hackable icon (closed state), 0.0-1.0.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
HackClosedAlpha = 0.6

## Color of a hackable Weak Door icon when open. #rrggbb
# Setting type: String
# Default value: #00FFFF
HackOpenColor = #00FFFF

## Opacity of the hackable icon (open state), 0.0-1.0.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
HackOpenAlpha = 0.1

