## Settings file was created by plugin InformativeDoorIcons v1.3.2
## Plugin GUID: informativedooricons.HazardousMonkey

[- Settings]

## Rotates all door icons that are mostly upside-down doors to now be rightside-up. Also rotates left/right rotated doors to use the elevator as their center. This may or may not work well for all cases.
# Setting type: Boolean
# Default value: true
Door Rotation Adjustment (Not Retroactive) = true

## For Security Doors, the bottom label is rewritten to display lockdowns, needed power, blood doors, and finally what zone it leads to.
# Setting type: Boolean
# Default value: true
Extra door information = true

## Add green coloration to non-alarmed "free" Security Door map icons.
# Setting type: Boolean
# Default value: true
- Change the color for non-alarm Security Doors = true

## If a door is locked via Keycard, the interior sprite of the door will now match the Keycard color until unlocked.
# Setting type: Boolean
# Default value: true
- Security Doors match Keycard color = true

## If a Weak Door (breackable door) is Locked or Glued, their sprite color reflects that.
# Setting type: Boolean
# Default value: true
- Change Weak Door colors = true

## Color of a Melee-locked Weak Door icon when closed.
# Setting type: String
# Default value: #FFFF00
MeleeClosedColor = #FFFF00

## Opacity of the melee-locked icon (closed state), 0.0-1.0.
# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
MeleeClosedAlpha = 0.8

## Color of a Melee-locked Weak Door icon when open.
# Setting type: String
# Default value: #FFFF00
MeleeOpenColor = #FFFF00

## Opacity of the melee-locked icon (open state), 0.0-1.0.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
MeleeOpenAlpha = 0.1

## Color of a Hackable Weak Door icon when closed.
# Setting type: String
# Default value: #00FFFF
HackClosedColor = #00FFFF

## Opacity of the hackable icon (closed state), 0.0-1.0.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
HackClosedAlpha = 0.6

## Color of a Hackable Weak Door icon when open.
# Setting type: String
# Default value: #00FFFF
HackOpenColor = #00FFFF

## Opacity of the hackable icon (open state), 0.0-1.0.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
HackOpenAlpha = 0.1

## [Required -> Change Weak Door Colors] Changes the color of a Weak Door icon when it has a non-zero amount of Foam.
# Setting type: Boolean
# Default value: true
Addon - Color Foamed doors = true

## Color of a Door icon when there's a non-zero amount of Foam on it
# Setting type: String
# Default value: #FFFFFF
FoamDoorColor = #FFFFFF

## Opacity of the Glued door icon
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
GlueDoorAlpha = 1

[Misc]

## This makes the in-map inventory menu High Contrast, as well as making it appear on top of all other sprites. This might make it easier to see the inventory with all the new text labels.
# Setting type: Boolean
# Default value: false
High Contrast inventory in Map = false

## Has anyone ever even used the thing?
# Setting type: Boolean
# Default value: true
RemoveMapLegend = true

[Settings]

- Extra door information (Not Retroactive) = true

- Door Rotation Adjustment (Not Retroactive) = true

Change the color for non-alarm Security Doors = true

Security Doors match Keycard color = true

Change locked Weak Door colors = true

MeleeClosedColor = #FFFF00

MeleeClosedAlpha = 0.8

MeleeOpenColor = #FFFF00

MeleeOpenAlpha = 0.1

HackClosedColor = #00FFFF

HackClosedAlpha = 0.6

HackOpenColor = #00FFFF

HackOpenAlpha = 0.1

