[Setup]

## Toggle for Geomorphs --- Everyone must have the same config in order to drop
# Setting type: Boolean
# Default value: true
GeosRandom = false

## Bioscans Rando
# Setting type: Boolean
# Default value: true
bioScans = false

## Bioscans Rando
# Setting type: Boolean
# Default value: true
movingScans = false

## Toggle for Blood Doors
# Setting type: Boolean
# Default value: true
BloodDoors = false

## Toggle for enemies spawning
# Setting type: Boolean
# Default value: false
Enemy = false

## Toggle for enemies Scale
# Setting type: Boolean
# Default value: true
EnemyScale = false

## Toggle for Mom and scout random wave
# Setting type: Boolean
# Default value: true
EnemyBirth = false

## Chaos Jish rando >__<
# Setting type: Boolean
# Default value: false
chaosRando = false

## evil Spitters being random
# Setting type: Boolean
# Default value: false
spittersRando = false

## Toggle for da babies that are not yours
# Setting type: Boolean
# Default value: false
itemsRando = false

## Toggle to take the red pills and randomize events
# Setting type: Boolean
# Default value: false
eventRando = false

