[Developer Settings]

## If a weapon is picked, its copy in the other slot cannot be picked.
## Doesn't work properly for bots.
# Setting type: Boolean
# Default value: true
Lock Duplicate = true

## Offset from the original ID to create copied blocks with.
## Useful if you need to apply mod customization to specific IDs, giving you reliable copy IDs.
# Setting type: UInt32
# Default value: 0
ID Offset = 0

