[Developer Settings]

## Offset from the original ID to create copied blocks at.
## If there is an ID conflict, it is given the next consecutive ID after the last block instead.
# Setting type: UInt32
# Default value: 0
ID Offset = 0

## If a weapon is picked, its copy cannot be picked.
## Doesn't work properly for bots.
# Setting type: Boolean
# Default value: true
Lock Duplicate = true

