[(1) Advanced]

## Frequency in Hz to send player sync data
# Setting type: Single
# Default value: 20
# Acceptable value range: From 1 to 60
Sync Frequency (Hz) = 20

[(Z) Dev]

## debug logging
# Setting type: Boolean
# Default value: false
Enable Debug Logs = false

