[Fade-Out]

## Seconds until a terminal ping starts to fade out
# Setting type: Single
# Default value: 0
Fade-Out Delay = 2

## After Fade-Out Delay, seconds for a terminal ping to finish fading out
# Setting type: Single
# Default value: 4
Fade-Out Duration = 6

