## Settings file was created by plugin Zose_ReloadTimer v1.0.0
## Plugin GUID: Zose_ReloadTimer

[AmmoWarning]

## The ammo threshold (percentage 0.0-1.0) for large weapons (>20 clip size).
# Setting type: Single
# Default value: 0.35
LowAmmoThreshold = 0

## The color of the 'RELOAD' warning text when ammo is low in Hex format (#RRGGBBAA).
# Setting type: String
# Default value: #FF000080
LowAmmoColor = #FF000080

[Settings]

## The vertical offset of the reload text from the crosshair.
# Setting type: Single
# Default value: 85
TextOffset = 1000

## The color of the reload charge circle in Hex format (#RRGGBBAA).
# Setting type: String
# Default value: #00FF0080
ChargeColor = #00FF0080

